.DS_Store
.env
.codex/

launch_configurations
.aider*
.crush*
*.log
logs/
*.pid

# gnupg sensitive data
gnupg/.gnupg/*.kbx
gnupg/.gnupg/*.kbx~
gnupg/.gnupg/*.gpg
gnupg/.gnupg/.#lk*
gnupg/.gnupg/private-keys-v1.d/
